meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title JSD5-AQI
meta(property='og:title', content='地下城-全台空氣指標儀表板')
meta(property='og:description', content='六角學院的JS地下城攻略')
meta(property='og:site_name', content='地下城-全台空氣指標儀表板')
meta(property='og:locale', content='zh_TW')
link(href="./css/all.css", rel="stylesheet")