<!DOCTYPE html>
html(lang="en")
  head
    include ./partial/_meta.pug    
  body
    .wrap
      header
      main
        block content
      footer
        include ./partial/_footer.pug 
    script(src="./js/vendors.js")
    script(src="./js/all.js")